<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628013315532-6g3s29lce01uaqo8f7b32gpcamovell4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628013315532-6g3s29lce01uaqo8f7b32gpcamovell4</string>
	<key>API_KEY</key>
	<string>AIzaSyCMSnoBcRaZ1LejR8FNFxTR81rVhwmosO0</string>
	<key>GCM_SENDER_ID</key>
	<string>628013315532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lineup.LineupFootball</string>
	<key>PROJECT_ID</key>
	<string>lineup-football</string>
	<key>STORAGE_BUCKET</key>
	<string>lineup-football.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628013315532:ios:b56a51a29fb14635d49969</string>
	<key>DATABASE_URL</key>
	<string>https://lineup-football.firebaseio.com</string>
</dict>
</plist>